# architectury

/.architectury-transformer

# local-only files

*.local.*
*.developer.*

# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
!.vscode/settings.json
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# neoforge

/common/src/generated/resources/.cache

# actual songs which i can't upload here.
*.ogg
